{% extends 'base.html' %}


{% block SMName%} 

<h1 style="padding-top: 30px;padding-left: 30px;"><i class="fa fa-film" aria-hidden="true" style="color:black; padding-right:10px  "></i> {{ t }}</h1>
	

{% endblock %}

{% block SMMobile%} 
<img src="{{variable0}}"  width="200px" height="200px">
<h3>{{ t }}	</h3>


{% endblock %}



{% block RM1%} 
<h4 >
<b>{{ firstName }}
</b></h4>

{% endblock %}
{% block RM2%}
<h4>
	<b>
{{ secondName }}
</b>
</h4>
{% endblock %}
{% block RM3%}
<h4>
	<b>
{{ thirdName }}
</b>
</h4>
{% endblock %}
{% block RM4%} 
<h4>
	<b>

{{ fourthName }}
</b>
</h4>
{% endblock %}
